/* CSS Document*/


header {
      background:white;
      margin-top:-25px
}

h1{
      font-family:
Georgia, 'Times New Roman', 'Times', 'serif';

background-color:#4aaaa5;
width: 15%;
padding:20px; 
margin-left:50px;

}
ul {  
 
 list-style-type:none;}

 ul li { display: inline; padding:10px;}

 ul{
       float:right;
       padding: 0px;
       margin-right: 20%;
       margin-top: -5%
      
      }

#body_wrap {
      width: 960x;
      
}

S

        

h2{ 
      font-family: Georgia, 'Times New Roman', 'Times', 'serif' ;

}

body{
 
      background-image: url("../images/45degreee_fabric.png");
      background-repeat:no-repeat;
      background-size:cover;
      font-family: 'arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
      color: #777777 
      
}


