/* CSS Document*/


header {
      background:white;
      margin-top:-25px;
      color:white
}


h1{
      font-family:
Georgia, 'Times New Roman', 'Times', 'serif';

background-color:#4aaaa5;
width: 15%;
padding:20px; 
margin-left:140px;
}

h2{
      color:#4aaaa5
}


ul {  
 
 list-style-type:none;
 
 

}

 ul li { display: inline; 
        padding:10px;}

 ul{
       float:right;
       padding: 0px;
       margin-right: 20%;
       margin-top: -5%;
      
      
      }
      a{
            color:#777777;
      }

     





        

h2{ 
      font-family: Georgia, 'Times New Roman', 'Times', 'serif' ;

}

body{
 
      background-image: url("../images/45degreee_fabric.png");
      background-repeat:no-repeat;
      background-size:cover;
      font-family: 'arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
      color: #777777 
      
}
/* backgrounds*/

.box-container {
      width: 960px;
      margin:auto;
      height:400px;
      
      background:white
}

.box-container2 {
      width: 720px;
      margin:auto;
      height:700px;
      background: white

}



    img{
      float:left;
      clear:both;
      margin-right: 10px;
      margin-bottom: 10px;

    }  
      


.sub-box{
      margin-right:150px;
      margin-left:150px;
}
       
.subline {
      width: 960px;
      margin:auto;
      height:10px;
      background:#4aaaa5; 
      padding-bottom:10px;
      margin-top:30px;


}

#bottom{
      min-height: 0%;
}

#main{
  overflow:auto;
  padding-bottom:-20px;
  height:10px;
  margin-top:0px
}


#footer {
      background-color:#777777;
      height: 50px;
      margin-bottom:auto;
      clear:both;
      color:black
      
}

#ftext {
      margin-left: 45%;
      margin-bottom:auto;
      

}

/* flot for pictures */

#pic-box1{
      float:left;
      clear: both;
      margin-left:20px;
   
}
.text-wrapper{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 10%;
      height: 30px;
      padding: 5px;
      width: 240px;
      font:center;
      text-align: center;
      
}

 
#pic-box2{
      float:left;  
      margin-left:20px;
      

}
.text-wrapper2{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 10%;
      height: 30px;
      padding: 5px;
      width: 240px;
      font:center;
      text-align: center;
      
}

#pic-box3{
      float:left;  
      clear: both;
      margin-left:20px;

}
.text-wrapper3{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 10%;
      height: 30px;
      padding: 5px;
      width: 240px;
      font:center;
      text-align: center;
      
}
#pic-box4{
      float:left; 
      margin-left:20px; 
      

}
.text-wrapper4{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 10%;
      height: 30px;
      padding: 5px;
      width: 240px;
      font:center;
      text-align: center;
      
}

#pic-box5{
      float:left;  
      clear: both;
      margin-left:20px;

}
.text-wrapper5{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 10%;
      height: 30px;
      padding: 5px;
      width: 240px;
      font:center;
      text-align: center;
      
}








/*trying to add the white box/*
