/* CSS Document*/


header {
      background:white;
      margin-top:-25px;
      color:white
}

h1{
      font-family:
Georgia, 'Times New Roman', 'Times', 'serif';

background-color:#4aaaa5;
width: 15%;
padding:20px; 
margin-left:140px;
}

h2{
      color:#4aaaa5
}


ul {  
 
 list-style-type:none;
 
 

}

 ul li { display: inline; 
        padding:10px;}

 ul{
       float:right;
       padding: 0px;
       margin-right: 20%;
       margin-top: -5%;
      
      
      }
      a{
            color:#777777;
      }

     



S

        

h2{ 
      font-family: Georgia, 'Times New Roman', 'Times', 'serif' ;

}

body{
 
      background-image: url("../images/45degreee_fabric.png");
      background-repeat:no-repeat;
      background-size:cover;
      font-family: 'arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
      color: #777777 
      
}

.box-container {
      width: 960px;
      margin:auto;
      background:white
}

.sub-box {
      float:right;
      clear:both;


}

p{ 
       float:left;
       margin-top:20px;
       padding:15px;
  

}

#bottom{
      min-height: 100%;
}

#main{
  overflow:auto;
  padding-bottom:100px;
  height:20px
}


#footer {
      background-color:#777777;
      height: 50px;
      margin-bottom:auto;
      clear:both;
      color:black
      
}

#ftext {
      margin-left: 45%;
      margin-bottom:auto;
      

}

/*trying to add the white box/*
